body{
	margin: 0%;
	background-color: #f8f8f8;
	display: flex;
  flex-direction: column;

}

.inform{
	width: 100%;
	height: 50px;
	background-color: #4f4f4f;
	text-align: center;
	display: flex;
}

.icon{
	width: 27px;
	height: 31px;
	margin: auto;
}

.phone{
	display: flex;
	height: 100%;
	float: left;
    margin-left: 3%;
    color: #cccccc;
    width: 20%;
}

.phone h2{
	margin: auto;
    margin-left: -15%;
    width: 100%;
}

.location{
	height: 100%;
	width: 10%;
	margin-left: 5%;
	display: flex;
	color: #cccccc;
}

.phone:hover, .location:hover{
	color: white;
}

.location h4{
	margin: auto;
	margin-left: -2%;
	text-decoration: underline;
}

.informButtons{
	margin-left: 35%;
	width: 30%;
	display: flex;
}

.informButton{
	display: flex;
	margin: auto;
	margin-right: 3%;
	height: 65%;
    border-radius: 20px;
	width: 35%;
	border: 1px solid black;
}

.language{
	background-color:  #4f4f4f;
	color: white;
	
}

.language:hover{
	background-color: black;
	transition: 1s;
}

.language h3, .exit h3{
	margin: auto;
}



#languages{
	display: none;
	border: 0.1px solid grey;
	margin-left: 73%;
    margin-top: 3%;
    padding: 0.1%;
    margin: none;
    background-color: white;
    width: 9%;
    color: black;
    margin-left: none;
    padding-left: none;
    position: absolute;
    border-radius: 20px;
}

.languages h3{
	    margin: 5%;
}


.line{
	width: 100%;
	height: 0.1px;
	background-color: grey;
}

.exit:hover{
	background-color: white;
}

.arrowIcons{
	transition: 0.4s;
	transform:rotate(0deg);
	float: right;
	width: 15%;
    margin: auto;
    margin-left: 12%;
}

.exit{
	margin-right: 20%;
	background-color: #cccccc;

}

.menu{
	position: sticky;
    top: 0;
	width: 100%;
	height: 70px;
	background-color: black;
	display: flex;
	justify-content: left;
}

.logo{
	display: flex;
	height: 100%;
	width: 20%;
	color: white;
	margin-left: 1%;
	text-decoration: none;

}

.logoImg{
	width: 20%;
	margin: auto;
	margin-right: 3%;
}

.eatMenu{
	margin-left: 10%;
	height: 100%;
	width: 40%;
	color: white;
	display: flex;
}

.eatMenu a{
	margin: auto;
	text-decoration: none;
	color: white;
	font-size: 1.3em;
}

.eatMenu a:hover{
	font-size: 1.5em;
	transition: 0.2s
}

.basket{
	background-color: white;
    border-radius: 25px;
    height: 75%;

    display: flex;
    margin: auto;
}

.imgBasket{
	background-color: grey;
    width: 70px;
    height: 47px;
    border-radius: 50%;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
}

.imgBasket:hover{
	background-color: black;
	transition: 0.5s;
}

.imgBasket img{
	width: 60%;
    margin: 21%;
    margin-top: 0%;
}

.imgBasket p{
	padding: 0%;
    margin: 0%;
    margin-left: 32%;
    color: white;
}


.order{
	background-color: red;
	border-radius: 20px;
	border: none;
	width: 65%;
	height: 85%;
	margin: auto;
	color: white;
	margin-left: 4%;
	margin-right: 4%;
}

.order h3{
	margin: auto;
}

.iconMenu{
	height: 40%;
	margin: auto;
}


.footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 4%;
	width: 92%;
	color: #cccccc;
	height: 210px;
	background-color: black;
	flex-shrink: 0;
}

.footer h3{
	color: white;
}

.button{
	
	bottom:0; /* добавили */

}

.butt33{
	margin-top: 25%;
}

.dowlands{
	    width: 100%;
    margin-left: -7%;

}
.visa{
	display: flex;
}
.visa img{
	    margin-left: -50%;
    margin-top: 5%;
}

.logoButtum{
	display: flex;
}

.logoButtum img{
	margin-left:0%;
}

.follow{
	display: flex;
}
.follow img{
	    margin: 20%;
    margin-left: 0%;
    margin-right: 15%;
}

.footer div :hover{
	color: white;
	transition: 0.1s
}

.product{
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0px 18px rgba(0,0,0,0.22);
	margin: 7%;
	width: 90%;
	height: 450px;
	border-radius: 10%;
	border: 1% solid grey;
	background-color: white;
	font-size:12px;

}

.product:hover{
	transition: 1s;
	box-shadow: 0 7px 10px rgba(0,0,0,0.25), 0 20px 46px rgba(0,0,0,0.22)
}

.size{
	margin-top: 1%;
	margin-left: 10%;
	background-color: #f8f8f8;
	margin-top: 5%;
	width: 80%;
	height: 8%;
	border:0.2px solid black;
	border-radius: 20px;
}

.size button{
	height: 100%;
	width: 35%;
	margin: 0%;
	font-size: 11px;
	border:none;
	border-radius: 20px;
	border: none;
}


.first{
	background-color: #4f4f4f;
	color: white;
}

.nofirst1, .nofirst2{
	background-color: #efefef;
	color: black;
}

.size button:focus {
    outline: none;
}

.productA img{
	width: 90%;
	margin: 5%;
	margin-bottom: 5%;
	border-radius: 10%;
}



.product h4, u{
	margin-top: 1%;
	margin-left: 10%;
}
.productA{
	text-decoration: none;
}
.productA h4{
	font-size: 17px;
	margin-top: 1%;
	margin-left: 10%;
	text-decoration: none;
	color:black;
	width: 80%;
}

.product div{
	    margin-top: 4%;
	display: flex;
}

.basketRed{
	text-align: center;
	width: 30%;
	border-color: white;
	box-shadow: none;
    background-color: red;
    margin-top: 8%;
    color: white;
    float: right;
    margin-right: 10%;
    height: 20%;
    padding: 3%;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 5%;
    margin-left: auto;
 
}


.pizzas{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.name{
	text-align: center;
}

.prise{
	font-size: 19px;
	margin: 10%;
	margin-right: 17%;

}


.prise p{
	padding: 0%;
	margin:0%;
	font-size: 18px;
}

.margin{
	margin-top: 1%;
	width: 80%;
	margin-left: 10%;
}

.action{
	width: 100%;
	height: 400px;
	display: flex;
}

.greyline{
	width: 80%;
    margin-left: 10%;
    height: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #cccccc;

}

.actionImg{
	width: 40%;
	height: 100%;
	border-radius: 2%;
	margin-left: 10%;
}

.actionContent{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.actionText{
	width: 83%;
	margin: 5%;
	margin-top: 0%;

}

.actionText h3{
	margin-top: 0%;
}

.actionButtuns{
	width: 100%;
	height: 12%;
	display: flex;
	margin-top: auto;
	margin-bottom: 3%;
    margin-left: 2%;

}

.actionButtun{
	width: 40%;
	height: 100%;
	font-size: 17px;
	margin:2%;
	border-radius: 10px;
	border: 2px solid #d63422;
	box-shadow: none;
	transition: 1s;
}

.actionButtun a{
	text-decoration: none;
	
	font-size: 17px;
}


.actionButtun2{
	color: white;
	background-color: #d63422;
}

.actionButtun1 a {
	color:#d63422;
}

.actionButtun2:hover{
	background-color:  #962417;

}

.actionButtun1{
	color: #d63422;
	background-color: white;
}




.baskBlock{
	display: flex;
	s
}

.delivery{
	width: 60%;
	margin: 0%;
}

.delivery h2, h1{
	width: 100%;
	text-align: center;
}

.orderBask{
	width: 40%;
	margin: 0%;
	    margin-bottom: 3%;
}

.deliveryButtons{
	display: flex;
	height: 5%;
	justify-content:space-evenly;
}

.deliveryButton{
	outline: none;
	width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #cccccc;
}

.deliveryButton1{
	background-color: white;
	color: #d63422;
}

.deliveryButton2{
	background-color: #f8f8f8;
	color: black;
}

.deliveryButton{
	width: 40%;
}

.formBask{
	height: 80%;
	width: 90%;
	background-color: white;
	margin: 5%;
	margin-top: 2%;
	border-radius: 20px;
	padding: 2%;
	margin-bottom: 10%;
}

#formBask1{
	height: 800px;
}

#formBask2{
	height: 700px;
}

.contactInput {

    width: 100%;
    display: flex;
    justify-content: space-between;
}
.adressInput{
	height: 25%;
	width: 100%;
}
#adressInput2{
	height: 15%;
	width: 100%;
}
.wid3{
	 width: 28%;	
}

.wid2{
	width: 61%;
}

.wid1{
	width: 92%;
}

.inputBask {
	outline: none;
    border-radius: 20px;
    border: 2px solid #cccccc;
    font-size: 20px;
    margin: 1.5%;
}

.com2{
	height: 25%;
}
#com22{
	height: 35%;
}
.dataInput{
	display: flex;
}

.forInp{
	width: 30%;
	font-size: 20px;
	color: #808080;
	margin-left: 1%;
    margin-right: 1%;
}

.makePrder{
    width: 30%;
    height: 7%;
    color: white;
    background-color: #f93e2a;
    border-radius: 20px;
    border: 2px solid #f93e2a;
    margin-left: 38%;
    font-size: 20px;
    margin-top: 10%;
  } 

.orderBask {
	text-align: center;
} 

.order a {
	text-decoration: none;
	color: white;
}

.order:focus{

    outline: none;

}

.mainBlockOrder{
	border-radius: 25px;

    background-color: white;
    border: 1px solid #cccccc;
}

.productInOrder{
	
    display: flex;
}

.pictureproductInOrder{
	margin: 4%;
    width: 30%;
    height: 45%;
}

.mainPartOrederForm{
	width: 80%;
}

.textBlockInOrder{
	margin-bottom: 0%;
    display: flex;
    font-size: 10px;
}

.textBlockInOrder h1{
	margin-top: 7%;
    margin-bottom: 2%;
}

.textBlockInOrder img{
	margin: 5%;
    width: 20px;
    height: 20px;
}

.ingredInOrder{
	margin: 0%;
    text-align: left;
    font-size: 13px;
    margin-left: 5%;
}

.priseAndNumber{
	display: flex;
    margin: 5%;
    justify-content: space-between;
}

.numberOrder{
	display: flex;
    background-color: #f93e2a;
    /* margin-left: 40%; */
    border-radius: 13px;
    width: 26%;
    height: 25px;
    text-align: center;
    color: white;
    justify-content: space-between;
    
}

.numberOrder p{
	color: white;
    font-size: 20px;
    text-align: center;
    margin:0%;
}

.numberOrder button{
	    border-radius: 20px;
    color: white;
    border: 1px solid #cccccc;
    background-color: #f93e2a;
}


.priseOrder{
	float:right;
	font-size: 20px;
	margin-right: 3%;
	margin-top: 2%;
}

.mainBlockProduct{
	display: flex;
}

.pictureProduct{
	width: 65%;

}

.pictureProduct h2{
	    margin-left: 5%;
    margin-top: 0%;
}

.ingredients{
	width: 35%;
}


.picture2Pizza{
	margin: 10%;
	width: 80%;
}

.ingreds{
	width: 100%;
	display: grid;
    grid-template-columns: 4fr 4fr 4fr ;
    grid-gap: 0vw;

}

.ingred{
	
	 width: 100%;
    font-size: 15px;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 2%;
    
}

.ingred img{
	width: 80%;
	margin-bottom: 3%;
	margin-top: 3%;
	height: 100px;
	 margin-left: 0%;
    margin-right: 2%;
}

.putInBask{
	width: 45%;
    height: 50px;
    margin-left: 10%;
    color: white;
    background-color: #f93e2a;
    border-radius: 14px;
    outline: none;
    font-size: 16px;
    border: 1px solid #cccccc;
}

.priceAndPut{
	display: flex;
}


.hiddenBlock{
    display: block;
    position: fixed;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    width: 25%;
    margin-top: 50px;
    background-color: white;
    height: 100%;
    top: 70px;
    right: -30%;
    transition: left .2s;
    z-index: 2;
 } 


 .hiddenMainMenu li{
 	list-style-type: none;
    margin: 8%;
    font-size: 30px;
    margin-left: 10%;

 }
.hiddenMainMenu li a{
	text-decoration: none;
	color:black;
}


 .hiddenMainMenu{
 	margin-bottom: 12%;
 }

 .hiddenSmallMenu li{
 	list-style-type: none;
 	color: grey;
 	font-size: 15px;
 	margin: 3%;
 	margin-left: 10%;

 }

.friendImg{
	width: 80%;
	height: 100px;
}

.friend{
	    margin-left: 3%;
    display: flex;
}

.friendPizzas{
	    text-decoration: none;
    color: black;
    width: 18%;
    width: 20;
    text-align: center;
}

.priceOneProduct{
	margin-top: 10%;
}

.priceAndBaskOneProduct{
	display: flex;
    margin-top: 20%;
    font-size: 25px;
}
.mainBlock{
	flex: 1 0 auto;
}
html, body {
  height: 100%;
}

.slider{
	display: flex;
	width: 100%;
	height: 300px;
	    margin-top: 5%;
	background-size: 100%;
}
.imgForSlider{
	    width: 50%;
    height: 100%;
    padding-left: 25%;
    padding-right: 25%;

}

#sl1{

}

#sl2{
	margin-left: 140%;
}
#sl3{
	margin-left: 280%;
}

#sl3{
	margin-left: 420%;
}

#sl4{
	margin-left: 560%;
}



@media (min-width: 600px) and (max-width: 1200px) {
	.pizzas {
	    display: grid;
	    grid-template-columns: 1fr  1fr 1fr;
	}
	.eatMenu a {
	    margin: auto;
	    text-decoration: none;
	    color: white;
	    font-size: 1em;
	}.action {
	    width: 100%;
	    height: 340px;
	    display: flex;
	}
	.actionContent {
	    height: 100%;
	    display: flex;
	    font-size: 12px;
	    flex-direction: column;
	}
	.imgForSlider {
	    width: 70%;
	    height: 100%;
	    padding-left: 15%;
	    padding-right: 15%;
	}
}


@media (max-width: 600px) {
	  .pizzas {
	    display: grid;
	    grid-template-columns: 1fr 1fr ;
	}
	.eatMenu {
    
    width: 0%;
    
	}

	.eatMenu a {
    
    font-size: 0px;
	}

	.actionText {
    font-size: 10px;
	}
	.action {
    height: 280px;
  
	}

	.baskBlock {
    display: flex;
    flex-direction: column;
	}
	.delivery {
    width: 100%;
    margin: 0%;
	}
	.orderBask {
    width: 100%;
    margin: 0%;
    margin-bottom: 3%;
	}
	.phone h2 {
    margin: auto;
    margin-left: -15%;
    width: 100%;
    font-size: 14px;
	}
#languages {
    display: none;
    border: 0.1px solid grey;
    margin-left: 73%;
    margin-top: 7%;
    padding: 0.1%;
    margin: none;
    background-color: white;
    width: 9%;
    color: black;
    margin-left: none;
    padding-left: none;
    position: absolute;
    border-radius: 20px;
	}	
	.informButton {
    display: flex;
    margin: auto;
    margin-right: 3%;
    height: 65%;
    border-radius: 20px;
    width: 35%;
    font-size: 11px;
    border: 1px solid black;
}
.imgForSlider {
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}}



